# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**- 
1-List popular languages for Data Science.
2-Discuss commonly used libraries in data science.
3-Introduce development environment tools used by data scientists.
4-Provide examples of arithmetic expressions in Python.
5-Highlight the author's details.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. NumPy
3. scikit-learn

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3 * 4) + 5

17

In [1]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author Name
Firas Abu Khaled